* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    
}

header {
    width: 100%;
    height: 100px;
    padding: 0%;
    margin: 0%;
    display: flex;
    flex-wrap: wrap; 
    margin: 0px;
    padding: 0px;
    top: 0px;
    background-color: red;
    display: block;
}

.seven-eleven-logo{
    padding-left: 40px;
    height: 100%;
    width: 25%;
    padding: 10px 20px 10px 160px;
}

header div img {
    display: block;
    height: 100%;
    border-radius: 30%;
}



.main-body {
    padding-left: 18%;
    padding-right: 18%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

.content-box {
    padding: 0 20% 0 20%;
}

.video {
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.sidebar-left-7-11 {
    display: block;
    width: 50%;
    height: 500px;
    border-style: groove green;
    margin: 0px;
    top: 20px;
    margin-right: 10%;
    margin-top: 30px;
}

.sidebar-right-verdensmål {
    display: block;
    width: 40%;
    height: 500px;
    margin: 0px;
    background-color: aquamarine;
    margin-top: 40px;
}

.andre-butikker {
    display: block;
    width: 100%;
    
}

Footer {
    width: 100%;
    padding: 10px 18% 10px 18%;
    height: 2.5rem;
    margin-top: 30px;
    background-color: aquamarine;
    bottom: 0;
}
Footer ul {
    position: absolute;
    display: block;
    width: 20px;
}