* {
    box-sizing: border-box;
}

html {
    rgba(247, 247, 247, 0.966)
}

body {
    margin: auto;
    background-color: rgba(247, 247, 247, 0.966);

    
}

header {
    width: 100%;
    height: 100px;
    padding: 0%;
    margin: 0%;
    display: flex;
    flex-wrap: wrap; 
    margin: 0px;
    padding: 0px;
    top: 0px;
    background-color: paleturquoise;
    background-image: url(images/lyngbystorcenter_logo_transparent_Cropped.png);
    background-repeat: no-repeat;
    background-position: center center;
}

.seven-eleven-logo{
    display: block;
    padding-left: 40px;
    height: 100%;
    width: 25%;
    padding: 10px 20px 10px 160px;
}

.seven-eleven-logo img {
    height: 100%;
    border-radius: 25%;
}

.hdr_navbar {
    display: block;
    width: 20%;
    height: 100%;
    margin: 0px;
    margin-left: 35%;
    padding: 30px 20px 20px 20px;
    
}

.hdr_navbar ul li {
    float: left;
    border-right: 1px solid #1f1f1f;
}



.hdr_navbar ul li:last-child {
    border-right: none;
}

.hdr_navbar ul li:first-child a {
    
    border-radius: 25px 0px 0px 25px ;
}

.hdr_navbar ul li:last-child a {
    
    border-radius: 0px 25px 25px 0px ;
}


.hdr_navbar ul li a{
    display: block;
    padding: 16px 24px;
    /* background-color: rgb(201, 201, 201); */
    text-decoration: none;
    text-align: center;
    color: rgb(37, 37, 37);
    font-size: 20px;
    
}

.hdr_navbar ul li a:hover:not(.active) {
    background-color: black;
    color: rgb(255, 255, 255);
    font-style: bolder;
}

.hdr_navbar ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    background-color: lightgrey;
    position: relative;
    top: 0;
    width: 100%;
}

.active {
    background-color: blue;
}

.search_bar {
    display: block;
    height: 100%;
    width: 15%;
    margin-left: 2%;
    padding: 2px 1px 1px 2px ;
    color: green;
    border: solid  black;
    border-radius: 20px 20px 20px 20px;
    max-height: 50px;
    margin-top: 30px ;
    align-items: center;
    

}

.search_bar img {
    display: block;
    height: 80%;
    length: 80%;
    margin: 0%;
    padding: 4px 0px 2px 240px;
}

.search_bar p {
    length: 50%;
    display: block;
    text-align: left;
    margin: 0;
    
}

.main-body {
    padding-left: 18%;
    padding-right: 18%;
    display: flex;
    flex-wrap: wrap;
    padding-top: 20px;
    background-color: rgba(247, 247, 247, 0.966);
}

.content-box {
    display: flex;
    padding: 0 25% 0 25%;
    justify-content: center;
    flex: 1 0 auto;
}

.video {
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.sidebar-left-7-11 {
    display: block;
    width: 50%;
    height: 500px;
    border-style: groove green;
    margin: 0px;
    top: 20px;
    margin-right: 10%;
    margin-top: 30px;
}

.sidebar-right-verdensmål {
    display: block;
    width: 40%;
    height: 500px;
    margin: 0px;
    background-color: rgba(130, 221, 142, 0.589);
    margin-top: 40px;
}

.andre-butikker {
    display: block;
    width: 100%;
    
}

Footer {
    position: relative;
    height: 2.5rem;
    margin-top: 30px; 
    flex-shrink: 0;
    color: rgb(185, 43, 185);
    background-color: blue;
    width: 100%;
    height: 7rem;
    padding: 10px 18% 10px 18%;
}
/* Footer ul {
    position: absolute;
    display: block;
    width: 20px;
    flex-direction: row;
}  */

Footer ul {
  display: flex;
  
}

Footer li {
    list-style: none;
    display: inline-block;
    width: calc(100% / 3);
    height: 120px;
    text-align: center;
    color: red;
  }

  .first_row {
        left: auto;
        display: block;
        height: 100%;
        width: 15%;
        padding-right: 10%;
  }